---
import BlogLayout from "@/layouts/blog.layout.astro";
import PostsListComponent from "@/components/posts-list.component.astro";
import TagsListComponent from "@/components/tags-list.component.astro";

import type { GetStaticPaths, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await getCollection("blog");
  const tags = new Set(allPosts.flatMap((post) => post.data.tags));
  const sortedPosts = allPosts.sort(
    (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime(),
  );

  return paginate(sortedPosts, {
    pageSize: 8,
    props: { tags: Array.from(tags) },
  });
}) satisfies GetStaticPaths;

interface Props {
  page: Page<CollectionEntry<"blog">>;
  tags: string[];
}
const { page, tags } = Astro.props;
---

<BlogLayout title="Blog Posts">
  <section>
    <PostsListComponent {page} />
  </section>
  <aside>
    <TagsListComponent {tags} />
  </aside>
</BlogLayout>
