---
import PageLayout from "@/layouts/page.layout.astro"
---

<PageLayout title="Home">
    <h1>Hello, I am Nikos!</h1>
    <p>
        I'm a full-stack developer passionate about technology, software engineering, and architecture. I specialize in Angular and NestJS frameworks and am based in Berlin, Germany. With extensive experience leading teams and designing systems for complex projects, I focus on using product strategy and systems thinking to develop efficient services for happy customers.
    </p>
</PageLayout>
