---
import PageLayout from "@/layouts/page.layout.astro"
import SocialLinksComponent from "@/components/social-links.component.astro";
---

<PageLayout title="Home">
    <h1>Hello, I am Nikos!</h1>
    <p>
        
            Professional software engineer and team leader with 15+ years of experience in the software and web development industry.
            Through my career I have worked on numerous projects, from small startups to large enterprises, and have led teams of developers in the development of software solutions with diverse
            programming languages (Go, AS3, TS/JS, Python, Elixir, SQL, etc.) and frameworks with requirements ranging from simple web applications to complex distributed systems.
            Also my natural tendency to be a problem solver and a good communicator, I have been able to lead teams and projects to success in diverse environments.
        
    </p>
   <SocialLinksComponent/>
</PageLayout>

<style>
    h1 {
        margin-top: 3ch;
    }
    h3 {
        margin-top: 3ch;
    }
    p {
        margin-bottom: 10px;
    }
</style>
