---
import PageLayout from "@/layouts/page.layout.astro"
import SocialLinksComponent from "@/components/social-links.component.astro";
---

<PageLayout title="Home">
    <h1>Hello, I am Nikos!</h1>
    <p>
        I'm a full-stack developer passionate about technology, software engineering, and architecture. I specialize in Angular and NestJS frameworks and am based in Berlin, Germany. With extensive experience leading teams and designing systems for complex projects, I focus on using product strategy and systems thinking to develop efficient services for happy customers.
    </p>
   <SocialLinksComponent/>
   <h3>About this digital space</h3>
   <p>
        This space acts both as a place to write blog posts but more importantly as a digital garden, or a collection of notes and thought if you like that always evolve and change as everything in life.
    </p>
</PageLayout>
