@layer theme.sizes {
    :root {
        --button-border-radius: 1ch;
        --button-padding: 1ch;
        --button-color: var(--color-primary);
        --button-color-hover: var(--color-primary-dark);
        --button-color-active: var(--color-primary-light);
    }
}

@layer elements {
    button {
        background-color: var(--button-color);
        color: var(--color-primary-text);
        border: none;
        padding: var(--button-padding);
        border-radius: var(--button-border-radius);

        &:hover {
            background-color: var(--button-color-hover);
            cursor: pointer;
        }

        &:active {
            background-color: var(--button-color-active);
            cursor: pointer;
        }
    }
}