---
import BaseLayout from "@/layouts/base.layout.astro"
const title = "Home"
---
<BaseLayout {title}>
<main>
    <slot></slot>
</main>
</BaseLayout>

<style>
    main {
        display: grid;
        column-gap: 4rem;
        grid-template-columns: auto;
    }


@media (min-width: 1023px) {
    main {
        grid-template-columns: 3fr 1fr;
    }
}
</style>