---
import BaseLayout from "@/layouts/base.layout.astro"
const title = "Home"
---
<BaseLayout {title}>
<main>
    <slot></slot>
</main>
</BaseLayout>

<style>
    main {
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 4rem;
    }
</style>